language: go
go:
  - "1.9.2"
script:
  - go test -v -coverprofile=coverage.txt -covermode=atomic
after_success:
  - bash <(curl -s https://codecov.io/bash)
before_deploy:
  - ./scripts/build.sh
deploy:
  provider: releases
  skip_cleanup: true
  file_glob: true
  file: out/*
  api_key:
    secure: "tENMefHiqrzilopwjz8l9QAcGn1IY3lSWDhANfxYJ6cF5DnlcWj0W2ehYfl834E6L0i5jvnIclwnM0GOLuOng57IxJhsmT0i2Yu+5phcS4BQ5+rWDggEistUFBJbs+jkSIAV1lPjBTOt+/PEEz6N6hoOoEjfzqlYhCv4hQImU16ky3DZZbF9l27tVUmHQc5OOfzyfkWq9NT7fO19uVjslnPnLhawJe+r+C/6r6el6d3nl5YXpxsUPzfeG6V5yIqyY9PxTFIsXBftPR2WvM9ACsVtCElT9q+EmUZsVnr5PCBqq1wWCDG5+ksAJM7u302e1HiBrnzirPANpkqB/Ya2x6irbRjOZozoiNSe/O+hNCseYPCAptjxYuc3rZWXHX1uwH2UcTkCogBYJx0MwluUz3QugZPWfR8ExjCdr6db3jaxiVkPWxZwui8xMT/s/8/Bw6EvTkXpMINS9XweHMbBxxhfB2RZE7koiJFduXwA8tzWADoqdKWL19n2hVDaRy8UCE1LD0nXaTngOj69Fqi7LOMBwPP8C1LwZnDP1BMyEswgNkmPfrMezYaeea24c/xUFPNVf1TcQsCeK+wYClG45IiVS0sWO8Z+I95fR+azctp06DLTuZxI+JdsZi+vUh/uLd6LKZ8CD136mxY/8fJNUazZilSRo20rVsdK0Vl5riU="
  on:
    tags: true
